<div class="content" role="main">

  <mat-tab-group animationDuration="0ms" (selectedTabChange)="RenderDetailedView($event)">
    <mat-tab label="Summary View">
      <table class="table table-striped" *ngIf="parentsData.length > 0">
        <thead>
          <tr>

            <th>SamplingTime</th>
            <th scope="col" *ngFor="let item of parentsData[0].Properties;index as x">
              {{item.Label}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let parent of parentsData; index as i">
            <td>
              {{ parent.SamplingTime | date:"dd/MM/yyyy HH:mm a" }}
            </td>
            <td *ngFor="let property of parent.Properties; index as j">
              <div *ngIf="IsObject(property.Value); then thenBlock else elseBlock"></div>
              <ng-template #thenBlock>{{ property.Value.Value }}</ng-template>
              <ng-template #elseBlock>{{property.Value}}</ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-tab>
    <mat-tab label="Detailed View">
      <div class="custom" style="width: 90%;">
        <div class="row">
          <div class="col-md-6">
            <div class="list-group">
              <ng-template ngFor let-parent [ngForOf]="parentsData" let-i="index" let-odd="odd">
                <a href="#" class="list-group-item list-group-item-action" [class.active]="selectedIndex === i"
                  (click)="getFormProperties(parent.SamplingTime,i)">
                  {{parent.SamplingTime | date:"dd/MM/yyyy HH:mm a" }}
                </a>
              </ng-template>
            </div>
          </div>
          <div class="col-md-6" *ngIf="questions.length > 0">
            <div>
              <form (ngSubmit)="onSubmit()" [formGroup]="form">
                <div *ngFor="let question of questions" class="form-row">
                  <div [formGroup]="form">
                    <label [attr.for]="question.key" *ngIf="question.key != 3">{{question.label}}</label>
                    <div [ngSwitch]="question.controlType">
                      <input *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key"
                        [type]="question.type" [value]="question.value"  class="form-control" >
                      <div *ngIf="question.value == true; then thenBlock else elseBlock"></div>
                      <ng-template #thenBlock>
                        <label *ngSwitchCase="'checkbox'" [formControlName]="question.key">
                          <input type="checkbox" [id]="question.key" [type]="question.type" [value]="question.value"
                            (change)="changeChecked($event)" checked="true">
                          {{question.label}}
                        </label>
                      </ng-template>
                      <ng-template #elseBlock>

                        <label *ngSwitchCase="'checkbox'" [formControlName]="question.key">
                          <input type="checkbox" [id]="question.key" [type]="question.type" [value]="question.value"
                            (change)="changeChecked($event)">
                          {{question.label}}
                        </label>
                      </ng-template>
                    </div>
                    <div class="errorMessage" *ngIf="!isValidMessage && isShowMessageKey == question.key">{{question.label}} is required</div>
                  </div>
                  <!-- <app-render-element [question]="question" [form]="form"></app-render-element> -->
                </div>

                <div class="form-row">
                  <button type="submit" class="btn btn-primary mr-1">Save</button>
                  <!-- [disabled]="!form.valid" -->
                </div>
              </form>
              <!-- <div *ngIf="payLoad" class="form-row">
                <strong>Saved the following values</strong><br>{{payLoad}}
              </div> -->
            </div>
            <!-- <app-dynamic-form [questions]="questions$ | async"></app-dynamic-form> -->
          </div>
        </div>
      </div>
      <!-- <app-summary-and-detailed></app-summary-and-detailed> -->
    </mat-tab>
  </mat-tab-group>
</div>
<router-outlet></router-outlet>