<div class="content" role="main">

  <mat-tab-group animationDuration="0ms" (selectedTabChange)="RenderDetailedView($event)">
    <mat-tab label="Summary View">
      <table class="table table-striped" *ngIf="parentsData.length > 0">
        <thead>
          <tr>
            <th>SamplingTime</th>
            <th scope="col" *ngFor="let item of parentsData[0].Properties;index as x">
              {{item.Label}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let parent of parentsData; index as i">
            <td>
              {{ parent.SamplingTime | date:"dd/MM/yyyy HH:mm a" }}
            </td>            
            <ng-template ngFor let-item [ngForOf]="parentsData[0].Properties" let-j="index">              
              <td> 
                <div *ngIf="IsObject(findPrototypeValue(parent.Properties, item.Label)); then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>{{ findPrototypeValue(parent.Properties, item.Label).Value }}</ng-template>
                <ng-template #elseBlock>{{ findPrototypeValue(parent.Properties, item.Label) }}</ng-template>              
              </td>
            </ng-template>   
          </tr>
        </tbody>
      </table>
    </mat-tab>
    <mat-tab label="Detailed View">
      <div class="custom" style="width: 90%;">
        <div class="row">
          <div class="col-md-3">
            <div class="list-group">
              <ng-template ngFor let-parent [ngForOf]="parentsData" let-i="index" let-odd="odd">
                <a href="#" class="list-group-item list-group-item-action" [class.active]="selectedIndex === i"
                  (click)="getFormProperties(parent.SamplingTime,i)">
                  {{parent.SamplingTime | date:"dd/MM/yyyy HH:mm a" }}
                </a>
              </ng-template>
            </div>
          </div>
          <div class="col-md-9" *ngIf="questions.length > 0">
            <div>
              <form (ngSubmit)="onSubmit()" [formGroup]="form">
                <div *ngFor="let question of questions" class="">
                  <div [formGroup]="form">
                    
                      <div class="row" style="padding: 10px;">
                        <div class="col-md-3">
                          <label [attr.for]="question.key" >{{question.label}}</label>
                        </div>
                        <div class="col-md-9" [ngSwitch]="question.controlType">                          
                            <input *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key"
                              [type]="question.type" [value]="question.value"  class="form-control" >
                            
                              <label *ngSwitchCase="'checkbox'" [formControlName]="question.key">
                                <input type="checkbox" [id]="question.key" [type]="question.type" [value]="question.value"
                                  (change)="changeChecked($event)" [checked]="question.value">
                              </label>                          
                        </div>
                      </div>
                  </div>
                </div>

                <div class="form-row">
                  <button type="submit" class="btn btn-primary mr-1">Save</button>                  
                </div>
              </form>
            </div>            
          </div>
        </div>
      </div>      
    </mat-tab>
  </mat-tab-group>
</div>
<router-outlet></router-outlet>